.idea/artifacts/progetto_ifttt_war_exploded.xml

.idea/compiler.xml

.idea/copyright/profiles_settings.xml

.idea/misc.xml

.idea/modules.xml

.idea/workspace.xml

out/artifacts/progetto_ifttt_war_exploded/WEB-INF/web.xml

out/production/progetto-ifttt/TempServlet.class

progetto-ifttt.iml

out/artifacts/progetto_ifttt_war_exploded/WEB-INF/classes/TempServlet.class

out/artifacts/progetto_ifttt_war_exploded/index.jsp

out/production/Root GhiHub/TempServlet.class

.idea/.name

.idea/vcs.xml

.idea/artifacts/Root_GhiHub_war_exploded.xml

out/artifacts/Root_GhiHub_war_exploded/index.jsp

out/artifacts/Root_GhiHub_war_exploded/WEB-INF/classes/TempServlet.class

out/artifacts/Root_GhiHub_war_exploded/WEB-INF/web.xml

Root GhiHub.iml

out/**
.idea/artifacts/progetto_ifttt_SH_war_exploded.xml

progetto-ifttt-SH.iml

*.java

WEB-INF/web.xml

web/WEB-INF/web.xml
