<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <br>
    <br>


    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <p><h1>Choose your trigger</h1></p>
                    <form id="gmail-form" role="form" name="form" ng-controller="GmailActionController" novalidate>

                        <div class="form-group">
                            <label>Email address:</label> <br>
                            <label>Click me in order to active the email trigger:
                                <input
                                    type="checkbox"
                                    ng-model="checkedEmail"
                                    ng-change="checkemailfunc(checkemailvar)"
                                >
                            </label><br/>
                            <input type="email"  ng-disabled="!checkedEmail" class="form-control" id="email" placeholder="insert your email"
                                   ng-model="gmailinput.email"
                                   required="" name="uEmail" >
                            <div ng-show="form.$submitted || form.uEmail.$touched">
                                <span ng-show="form.uEmail.$error.email"   style="color: #b81900">This is not a valid email</span>
                            </div>
                        </div>







                        <!--Subject e.mail -->
                        <div class="form-group">
                            <label>The object:</label>
                            <label>Click me in order to active the subject trigger:
                                <input
                                        type="checkbox"
                                        ng-model="checkedSubject"
                                        ng-change="checkedSubjectfunc(checkedSubjectvar)"
                                >
                            </label><br/>
                            <textarea class="form-control" rows="5" id="subjectReceive"  placeholder="insert the subject"
                                      ng-model="gmailinput.subjectReceive"  name="subjectReceive"  ng-disabled="!checkedSubject"
                            ></textarea>
                        </div>

                        <div>
                            <a  type="submit" class="btn btn-primary" href="#logged_in" >Back</a>
                            <a  ng-disabled="!checkedSubject && !checkedEmail" type="submit" class="btn btn-primary"  ng-click="triggerGmail(gmailinput)" >Next</a>
                        </div>
                        <label ng-if="!checkedSubject && !checkedEmail" class="animate-if" >
                            You have to ability e.mail or/and subject in order to continue
                        </label>

                 <!--
                        http://localhost:8080/index.jsp#/SubGMail
                        <a  type="submit" class="btn btn-primary" href="#logged_in" >Home</a>
                        <a  type="submit" class="btn btn-primary"  href="#SubGMailAction" ng-click="triggerGmail(gmailinput)">Next</a>
                        -->

                    </form>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </div>
</div>


<!--href="#SubGMailAction" -->









</body>
<!--
Example code
<label>Click me to toggle: <input type="checkbox" ng-model="checked"></label><br/>
<button ng-model="button" ng-disabled="checked">Button</button>
-->
</html>


